@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" Theme="MyCustomTheme" @bind-IsDarkMode="@_isDarkMode"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Filled.Home" Class="me-3" Color="Color.Inherit" Link="/" Target="_self" />
        <MudText Style="line-height: 18px" Typo=@(_current <= Breakpoint.Sm ? Typo.h6 : Typo.h4)><b>BRANDON SNYDER</b></MudText>
        @if (_current > Breakpoint.Sm)
        {
            <MudText Typo="Typo.subtitle1" Class="ms-5">software developer</MudText>
        }
        <MudSpacer />
        <MudIconButton Class="pa-1" Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Inherit" Link="https://www.linkedin.com/in/brandon-snyder-02192b20b/" Target="_blank" />
        <MudIconButton Class="pa-2" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/btsnyder/" Target="_blank" />
        <MudSwitch @bind-Checked="@_isDarkMode" ThumbIcon="@(_isDarkMode==true ? Icons.Material.Filled.ModeNight : Icons.Material.Filled.WbSunny)" ThumbIconColor="@(_isDarkMode==true ? Color.Dark : Color.Warning)"/>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-4 pt-4">
            @Body
        </MudContainer>
    </MudMainContent>
    <div class="d-flex justify-center">
        Icons made by <a class="mx-1" href="https://www.freepik.com" title="Freepik" target="_blank">Freepik</a>
    </div>
</MudLayout>

@code {
    private Guid _subscriptionId;
    private Breakpoint _current;
    private bool _isDarkMode;
    private MudThemeProvider _mudThemeProvider;

    [Inject] IBreakpointService BreakpointListener { get; set; }

    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette 
        {
            AppbarBackground = Colors.Green.Default,
            Primary = Colors.Indigo.Lighten1,
            Secondary = Colors.Red.Darken1,
            Tertiary = Colors.BlueGrey.Default,
            Warning = Colors.Orange.Lighten1
        },
        PaletteDark = new Palette
        {
            AppbarBackground = Colors.Green.Default,
            Primary = Colors.Indigo.Lighten1,
            Secondary = Colors.Red.Darken1,
            Tertiary = Colors.BlueGrey.Default,
            Background = Colors.Grey.Darken3,
            DrawerBackground = Colors.Grey.Darken3,
            DrawerText = Colors.Shades.White,
            DrawerIcon = Colors.Shades.White,
            BackgroundGrey = Colors.Grey.Darken1,
            Surface = Colors.Grey.Darken3,
            TextPrimary = Colors.Shades.White,
            TextSecondary = Colors.Grey.Default,
            TextDisabled = Colors.Grey.Lighten1,
            ActionDefault = Colors.Grey.Lighten4,
            ActionDisabled = Colors.Grey.Darken1,
            LinesDefault = Colors.Grey.Lighten4,
            Dark = Colors.Grey.Darken1
        },
        Typography = new Typography()
        {
            Default = new Default()
            {
                FontFamily = new[] { "Roboto", "Helvetica", "Arial", "sans-serif" }
            }
        }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _current = await BreakpointListener.GetBreakpoint();

			var subscriptionResult = await BreakpointListener.Subscribe((breakpoint) =>
			{
                _current = breakpoint;
				InvokeAsync(StateHasChanged);
			}, new ResizeOptions
			{
				ReportRate = 250,
				NotifyOnBreakpointOnly = true,
			});

			_subscriptionId = subscriptionResult.SubscriptionId;
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
			StateHasChanged();
		}

		await base.OnAfterRenderAsync(firstRender);
	}

	public async ValueTask DisposeAsync() => await BreakpointListener.Unsubscribe(_subscriptionId);
}