<MudGrid>
    <MudItem xs="12">
        <div class=@($"d-flex align-items-center justify-content-between mud-theme-{Background.ToString().ToLower()} pa-1")>
            <MudIconButton Class="my-auto" Icon="@Icons.Filled.ChevronLeft" Color="@Color.Inherit" Link=@($"/{LeftTarget}") Target="_self"/>
            @if (_current <= Breakpoint.Sm)
            {
                <div class="d-flex flex-column flex-grow-1 justify-center align-items-center">
                    <MudImage Class="mx-auto" ObjectFit="@ObjectFit.Cover" Height="100" Width="100" Src="@LogoPath" Alt="Project Logo"/>
                    <MudText Class="my-auto" Align="@Align.Center" Typo="@_titleSize"><b>@Title</b></MudText>
                </div>
            }
            else
            {
                <div class="d-flex flex-grow-1 justify-center">
                    <MudImage ObjectFit="@ObjectFit.Cover" Height="100" Width="100" Src="@LogoPath" Alt="Project Logo"/>
                    <MudText Class="my-auto ms-5" Typo="@_titleSize"><b>@Title</b></MudText>
                </div>
            }
            <MudIconButton Class="my-auto" Icon="@Icons.Filled.ChevronRight" Color="@Color.Inherit" Link=@($"/{RightTarget}") Target="_self"/>
        </div>
    
    </MudItem>
    <MudItem xs="12">
        <div class="d-flex flex-wrap align-center justify-center">
            @foreach (var tech in Technologies)
            {
                <MudPaper Class="pa-2 ma-1 mud-theme-dark">@tech</MudPaper>
            }
        </div>
    </MudItem>
    <MudItem xs="12">
        <MudExpansionPanels>
            @foreach (var detail in Details)
            {
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="d-flex" style=@($"font-size: {_subtitleSize}")>
                            <b>@detail.Title</b>
                            @if (!string.IsNullOrWhiteSpace(detail.ViewPath))
                            {
                                <ProjectViewButton ImagePath="@detail.ViewPath"/>
                            }
                        </div>
                    </TitleContent>
                    <ChildContent>
                        @detail.Description
                    </ChildContent>
                </MudExpansionPanel>
            }
        </MudExpansionPanels>
    </MudItem>
</MudGrid>

@code {
    private Guid _subscriptionId;
    private Breakpoint _current;
    private Typo _titleSize;
    private string _titleJustify;
    private string _logoJustify;
    private string _subtitleSize;

    [Inject] IBreakpointService BreakpointListener { get; set; }
    [Parameter] public string LogoPath { get; set; } = string.Empty;
    [Parameter] public string Title { get; set; } = "Project";
    [Parameter] public ProjectDetail[] Details { get; set; } = Array.Empty<ProjectDetail>();
    [Parameter] public string[] Technologies { get; set; } = Array.Empty<string>();
    [Parameter] public Color Background { get; set; } = Color.Primary;
    [Parameter] public string LeftTarget { get; set; } = string.Empty;
    [Parameter] public string RightTarget { get; set; } = string.Empty;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _current = await BreakpointListener.GetBreakpoint();
            UpdateView();

            var subscriptionResult = await BreakpointListener.Subscribe((breakpoint) =>
            {
                _current = breakpoint;
                UpdateView();
                InvokeAsync(StateHasChanged);
            }, new ResizeOptions
			{
				ReportRate = 250,
				NotifyOnBreakpointOnly = true,
			});

            _subscriptionId = subscriptionResult.SubscriptionId;
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void UpdateView()
    {
        if (_current <= Breakpoint.Sm)
        {
            _titleSize = Typo.h5;
            _logoJustify = "justify-center";
            _titleJustify = "justify-center";
            _subtitleSize = "1.25rem";
        }
        else
        {
            _titleSize = Typo.h4;
            _logoJustify = "justify-end";
            _titleJustify = "justify-start";
            _subtitleSize = "2rem";
        }
    }

	public async ValueTask DisposeAsync() => await BreakpointListener.Unsubscribe(_subscriptionId);
}